:root {
 --color-1: rgb(0,0,0);
 --color-2: rgb(0,0,0);
 --color-3: rgb(0,0,0);
 --color-4: rgb(0,0,0);
}

body {
 background: linear-gradient(90deg, var(--color-1) 0%, var(--color-1) 25%, var(--color-2) 25%, var(--co
lor-2) 25%, var(--color-2) 50%, var(--color-3) 50%, var(--color-3) 75%, var(--color-4) 75%, var(--color-4) 100%);
}
 
